<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Produtos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Preço</th>
                    <th>Estoque</th>
                    <th>Ações</th>
                </tr>
                <tr th:each="f : ${lista}">
                    <td th:text="${f.id}"></td>
                    <td th:text="${f.nome}"></td>
                    <td th:text="${f.categoria}"></td>
                    <td th:text="${f.preco}"></td>
                    <td th:text="${f.estoque}"></td>
                    <td>
                        <a th:href="@{/editar(id=${f.id})}">Editar</a>
                    </td>
                </tr>
            </table>
            <a href="/adicionar-novo">Adicionar novo produto</a>
        </main>
    </body>
</html>
